node_modules/
.DS_Store
*.tsbuildinfo
dist/
.env
.env.*
!.env.example
!web/.env.example
!contracts/evm/.env.example

web/node_modules/
web/dist/
web/dist-bulletin*

contracts/**/node_modules/
contracts/**/artifacts/
contracts/**/cache/
contracts/**/coverage/
contracts/**/typechain-types/
